<div class="authorbox">
    <div uk-grid>
        <div class="uk-width-1-4@s uk-flex uk-flex-middle">
           
            <div align="center">
                <img src="/assets/images/pixar-me.jpg">
                <p>KI generiertes Bild.<br /><em>Sehr nah dran.</em></p>
            </div>
        </div>
        <div class="uk-width-expand@s">
            <h2>Florian Schuttkowski</h2>
            <p>
                <strong>Funktion:</strong> Lead Architect iOS <br />
                <strong>Bereich:</strong> Electrified Mobility <br />
                <strong>Abteilung:</strong> Cross Functional Core Development (EM/XCD2)<br />
                <strong>Firma:</strong> Robert Bosch GmbH
            </p>
            <br />
            <p>
                Neben meinem Job bei Tage bin ich vor allem Vater zweier wundervoller Kinder, Partner einer einzigartigen Frau, Sohn eines bemerkenswerten Mannes, Podcaster, Amateur-Fotograf, Magic the Gathering Enthusiast und Hobby-Website-Bastler.
            </p>
            <br />
            <div align="right">
                <a href="https://github.com/flowinho" class="uk-icon-button" uk-icon="github"></a>
                <a href="https://chaos.social/@flowinho" class="uk-icon-button" uk-icon="mastodon"></a>
                <a href="https://github.com/flowinho/florianschuttkowskicom" class="uk-icon-button" uk-icon="git-branch"></a>
            </div>
            
        </div>
    </div>
</div>

