<div class="authorbox">
    <div uk-grid>
        <div class="uk-width-1-4@s uk-flex uk-flex-middle">
           
            <div align="center">
                <img src="/assets/images/ai-me.jpg">
                <p>KI generiertes Bild.</p>
            </div>
        </div>
        <div class="uk-width-expand@s">
            <h2>Florian Schuttkowski</h2>
            <p>
                <strong>Funktion:</strong> Lead Architect iOS <br />
                <strong>Bereich:</strong> Electrified Mobility <br />
                <strong>Abteilung:</strong> Cross Functional Core Development (EM/XCD2)<br />
                <strong>Firma:</strong> Robert Bosch GmbH
            </p>
            <br />
            <p>
                Neben meinem Job bei Tage bin ich vor allem Vater zweier wundervoller Kinder, Partner einer einzigartigen Frau, Sohn eines bemerkenswerten Mannes, Podcaster, Amateur-Fotograf, Magic the Gathering Enthusiast und Hobby-Website-Bastler.
            </p>
        </div>
    </div>
</div>