<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" id="closePopup">&times;</span>
        <h2>Achtung, keine Cookies!</h2>
        <p>
            Du befindest dich auf einer Seite, die so datenschutzfreundlich ist, dass selbst ein Ninja mit Datenbrille sie nicht aufspüren kann. <br />

            Hier wird deine Privatsphäre respektiert, als wäre sie ein Schatz in einem riesigen virtuellen Tresor.<br /><br />

            Wusstest du, dass diese Webseite so leicht ist, dass sie auf einer einzigen Elektronenseite Platz findet? Ja, ich habe alles Überflüssige weggeworfen und nur das Nötigste behalten. <br />
            
            Diese Seite ist schlank, schlauer als ein Buchwurm und schneller als der Blitz. Sie ist so minimalistisch, dass der HTML-Code eine Zen-Meisterin erröten lassen würde.<br /><br />

            Andere Webseiten fragen nach deinem Namen, deiner E-Mail-Adresse und deinem Bluttyp, bevor sie dir überhaupt Hallo sagen. Hier? Sie begrüßt dich ohne lästige Fragen, sondern mit diesem wundertollen Popup. <br />
            
            Diese Seite ist wie der Nachbar von nebenan, der dich grüßt, wenn du vorbeigehst, ohne nach deinem Lebenslauf zu fragen.<br /><br />

            Also, entspann dich, lehne dich zurück und genieße diese datenschutzfreundliche Oase im Internet. Hier gibt es keine Cookies, keine Tracking-Codes und keine versteckten Überraschungen. <br />
        </p>
    </div>
  </div>
  <script src="/assets/popup.js"></script>