.mermaid {
    background-color: $mermaidbackgroundcolor;
    border-radius:      4px;
}

.ascii-logo-container {
    margin: auto;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    clear: both;
    line-height: 0.39 !important;
  }
  
  .ascii-logo-container a {
    text-decoration: none;
}

.ascii-logo {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: $asciiLogoFontSize;
    white-space: pre-wrap;
    background: linear-gradient(90deg, $gradientSecondaryColor, $mainColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-header {
    border-bottom: 1px solid $headerFooterDividerColor;
    font-size: $headerFontSize;
}

.page-link {
    color: $headerPageLinkColor;
    font-family: $codeFont;
    font-size: $pageLinkFontSize;
}

.header-pages-separator {
    color: $headerPageLinkSeparatorColor;
}

.footer {
    border-top: 1px solid $headerFooterDividerColor;
    font-family: $codeFont;
    font-size: $footerFontSize;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.authorbox {
    border: 1px dotted $authorBoxBorderColor;
    border-radius: 4px;
    background-color: $authorboxBackgroundColor;
    padding-left: 16px;
    padding-right: 16px;

    img {
        border-radius: 8px;
    }
}

.postlist-image {
    filter: grayscale(80%);
}

.post-excerpt {
    hyphens: auto; 
	text-align: justify
}

.post-header {
    border: 1px dotted $authorBoxBorderColor;
    border-radius: 4px;
    background-color: $authorboxBackgroundColor;
    margin-bottom: 16px;
    margin-top: 16px;
    h1 {
        line-height: 1.1em;
    }
    h2 {
        margin-top: 0px;
    }
    img {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .uk-grid {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.post-meta {
    padding: 12px;
}

.post-meta-tag {
    font-family: $codeFont;
    font-size: 0.75em;
}

.contactcard {
    border: 1px dotted $authorBoxBorderColor;
    border-radius: 4px;
    background-color: $authorboxBackgroundColor;
    margin: 16px;
}

.contactcard-image-container {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
}

.contactcard-qr-container {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    
}


.themed-button {
    color: $textColor;
    border: 1px solid $authorBoxBorderColor;
    border-radius: 4px;
}

.project-wrapper {
    margin: 32px 0 32px 0;
}

.project-titlebar {
    background: #b4b4b4;
    opacity: 0.9;
    //margin: 10px auto;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;

    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
    border: 1px solid #d8d8d8;
    border-bottom: 1px solid #b4b4b4;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #f9f9f9;
    border-radius: 50%;
    margin: 0 4px 0 0;
    
    &.red {
      background: #FF6057;
      border: 1px solid #E14640;
    }
  
    &.amber {
      background: #FFBD2E;
      border: 1px solid #DFA123;
    }
  
    &.green {
      background: #27C93F;
      border: 1px solid #1DAD2B;
    }
  }

  .project-title {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }

  .project-window {
    border: 1px solid #b4b4b4;
    border-radius: 0px 0px 7px 7px;
    overflow: hidden;
  }

  .project-screenshot {
    background-color: $authorboxBackgroundColor;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);

    border-right: 1px solid black;
    border-bottom: 1px solid black;

    img {
        margin-top: 0px;
        margin-bottom: 0px;
       
    }
  }

  .project-description {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    height: 100%;
  }
  .margin-less-grid {
    margin-top: 0px;
    margin-bottom: 0px;
  }

.badge {
    display:inline;
    margin-top: 0px;
    margin-bottom: 0px;
}

.project-links {
    text-align: right;
    position: absolute;
    bottom: 48px;
    right: 8px;
}

.code-animation {
    font-family: $codeFont;
}