.mermaid {
    background-color: $mermaidbackgroundcolor;
    border-radius:      4px;
}

.ascii-logo-container {
    margin: auto;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    clear: both;
    line-height: 0.39 !important;
  }
  
  .ascii-logo-container a {
    text-decoration: none;
}

.ascii-logo {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: $asciiLogoFontSize;
    white-space: pre-wrap;
    background: linear-gradient(90deg, $gradientSecondaryColor, $mainColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-header {
    border-bottom: 1px solid $headerFooterDividerColor;
    font-size: $headerFontSize;
}

.page-link {
    color: $headerPageLinkColor;
    font-family: $codeFont;
    font-size: $pageLinkFontSize;
}

.header-pages-separator {
    color: $headerPageLinkSeparatorColor;
}

.footer {
    border-top: 1px solid $headerFooterDividerColor;
    font-family: $codeFont;
    font-size: $footerFontSize;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.authorbox {
    border: 1px dotted $authorBoxBorderColor;
    border-radius: 4px;
    background-color: $authorboxBackgroundColor;
    padding-left: 16px;
    padding-right: 16px;

    img {
        border-radius: 8px;
    }
}

.postlist-image {
    filter: grayscale(80%);
}

.post-excerpt {
    hyphens: auto; 
	text-align: justify
}

.post-header {
    border: 1px dotted $authorBoxBorderColor;
    border-radius: 4px;
    background-color: $authorboxBackgroundColor;
    margin-bottom: 16px;
    margin-top: 16px;
    h1 {
        line-height: 1.1em;
    }
    h2 {
        margin-top: 0px;
    }
    img {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .uk-grid {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.post-meta {
    padding: 12px;
}

.post-meta-tag {
    font-family: $codeFont;
    font-size: 0.75em;
}

.contactcard {
    border: 1px dotted $authorBoxBorderColor;
    border-radius: 4px;
    background-color: $authorboxBackgroundColor;
    margin: 16px;
}

.contactcard-image-container {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
}

.contactcard-qr-container {
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    
}


.themed-button {
    color: $textColor;
    border: 1px solid $authorBoxBorderColor;
    border-radius: 4px;
}