// Layout definitions
$content-width: 800px;

// Font configs
$bodyFont: "Spectral", serif;
$codeFont: "Hack", monospace;

// Font Sizes
$basicFontSize:     1em;
$codeFontSize:      0.9em;
$baseLineHeight:    1.4em;
$h1-Size:           2em;
$h2-Size:           1.6em;
$h3-Size:           1.4em;
$h4-Size:           1.2em;
$h5-Size:           1em;
$h6-Size:           1em;
$pageLinkFontSize:  1em;
$headerFontSize:    0.7em;
$footerFontSize:    0.7em;
$asciiLogoFontSize: 8px;

// Color configs
$backgroundColor:               #282a36;
$bodyColor:                     #282a36;
$textColor:                     #f8f8f2;
$mainColor:                     #50fa7b;
$linkColor:                     #8be9fd;
$gradientSecondaryColor:        #6275bf;
$codeBackgroundColor:           #282a36;
$codeBorderColor:               #ff79c6;
$headerPageLinkColor:           #8be9fd;
$headerPageLinkSeparatorColor:  #8be9fd;
$headerFooterDividerColor:      #8be9fd;
$tableBorderColor:              #a9a9a9;
$tableHeaderBackgroundColor:    #6272a4;
$tableZebraBackgroundColor:     #323443;
$cardBorderColor:               #ff79c6;
$authorboxBackgroundColor:      #323443;
$authorBoxBorderColor:          #ff79c6;
$mermaidbackgroundcolor:        #6272a4;