@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/Spectral-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/Spectral-Italic.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/assets/fonts/Spectral-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hack';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/Hack-Regular.ttf') format('truetype');
}