@charset "utf-8";

$color-scheme-auto: false;
$color-scheme-dark: true;

$dracula-brand-color:           #50fa7b !default;
$dracula-brand-color-light:     lighten($dracula-brand-color, 5%) !default;
$dracula-brand-color-dark:      darken($dracula-brand-color, 35%) !default;


$dracula-site-title-color:      $dracula-brand-color-light !default;

$dracula-text-color:            #f0f0f0 !default;
$dracula-background-color:      #282a36 !default;
$dracula-code-background-color: #282a36 !default;

$dracula-link-base-color:       #8495cb !default;
$dracula-link-visited-color:    $dracula-link-base-color !default;
$dracula-link-hover-color:      $dracula-text-color !default;

$dracula-border-color-01:       $dracula-brand-color-dark !default;
$dracula-border-color-02:       $dracula-brand-color-light !default;
$dracula-border-color-03:       $dracula-brand-color !default;
$dracula-border-color-04:       #ff79c6;

$dracula-table-text-color:      $dracula-text-color !default;
$dracula-table-zebra-color:     lighten($dracula-background-color, 4%) !default;
$dracula-table-header-bg-color: lighten($dracula-background-color, 10%) !default;
$dracula-table-header-border:   $dracula-border-color-04  !default;
$dracula-table-border-color:    $dracula-border-color-04 !default;

$dracula-header1-color:         #50fa7b;
$dracula-header2-color:         #8be9fd;
$dracula-header3-color:         #8be9fd;
$dracula-header4-color:         #f1fa8c;
$dracula-header5-color:         #f1fa8c;
$dracula-header6-color:         #f1fa8c;

$dracula-mermaid-background-color: #c6d0ee;

:root {
    --minima-brand-color: #{$dracula-brand-color};
    --minima-brand-color-light: #{$dracula-brand-color-light};
    --minima-brand-color-dark: #{$dracula-brand-color-dark};

    --minima-site-title-color: #{$dracula-site-title-color};

    --minima-text-color: #{$dracula-text-color};
    --minima-background-color: #{$dracula-background-color};
    --minima-code-background-color: #{$dracula-code-background-color};

    --minima-link-base-color: #{$dracula-link-base-color};
    --minima-link-visited-color: #{$dracula-link-visited-color};
    --minima-link-hover-color: #{$dracula-link-hover-color};

    --minima-border-color-01: #{$dracula-border-color-01};
    --minima-border-color-02: #{$dracula-border-color-02};
    --minima-border-color-03: #{$dracula-border-color-03};

    --minima-table-text-color: #{$dracula-table-text-color};
    --minima-table-zebra-color: #{$dracula-table-zebra-color};
    --minima-table-header-bg-color: #{$dracula-table-header-bg-color};
    --minima-table-header-border: #{$dracula-table-header-border};
    --minima-table-border-color: #{$dracula-table-border-color};
}

$brand-color: var(--minima-brand-color);
$brand-color-light: var(--minima-brand-color-light);
$brand-color-dark: var(--minima-brand-color-dark);

$site-title-color: var(--minima-site-title-color);

$text-color: var(--minima-text-color);
$background-color: var(--minima-background-color);
$code-background-color: var(--minima-code-background-color);

$link-base-color: var(--minima-link-base-color);
$link-visited-color: var(--minima-link-visited-color);
$link-hover-color: var(--minima-link-hover-color);

$border-color-01: var(--minima-border-color-01);
$border-color-02: var(--minima-border-color-02);
$border-color-03: var(--minima-border-color-03);

$table-text-color: var(--minima-table-text-color);
$table-zebra-color: var(--minima-table-zebra-color);
$table-header-bg-color: var(--minima-table-header-bg-color);
$table-header-border: var(--minima-table-header-border);
$table-border-color: var(--minima-table-border-color);

h1 { color: $dracula-header1-color; }
h2 { 
    color: $dracula-header2-color; 
    border-bottom: 1px dotted $dracula-header2-color !important;
}
h3 { color: $dracula-header3-color; }
h4 { color: $dracula-header4-color; }
h5 { color: $dracula-header5-color; }
h6 { color: $dracula-header6-color; }

.mermaid {
    background-color: $dracula-mermaid-background-color;
}

.ascii-logo {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 10px;
    white-space: pre-wrap;
    background: linear-gradient(90deg,rgb(80, 250, 123),#50fa7b) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

hr {
    height: 3px;
    background: $dracula-brand-color;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: $dracula-code-background-color !important;
}

pre {
    border: 2px solid $dracula-border-color-04 !important;
    border-radius: 0px !important;
}

blockquote {
    color: $dracula-text-color !important;
    border-left: 3px solid $dracula-brand-color !important;
}